<header>Mājas zvēri!</header>
<div class = "replace">
<input type = "number" id= "index" [(ngModel)] = "inputValue1"/>
<input type="text" id= "animalNewName" [(ngModel)] = "inputValue2" placeholder="Ievadi jauno vārdu"/>   
<button (click) = "newName()">Ievadīt</button>
</div>
<div class="frame" *ngFor="let animal of lst">
    <p>Zvēra vārds: {{animal.animalName}}</p>
    <p>Zvēra vecums: {{animal.animalAge}}</p>
    <p> Zvēra tips: {{animal.animalType}}</p>
    <img [src]="animal.imageLink" alt="Image" class="image">
</div>
