.footer {
    position: fixed;
    padding-top: 15px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f1e1eb7;
    color: white;
    font-size: medium;
 }

 .footer-links {
  float: center;
  color: rgb(253, 253, 253);
  padding: 12px;
}

.footer-links a {
  float: center;
  color: rgb(253, 253, 253);
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
}
  .row1 {
    text-align:left;
  }

  .column1 {
    float: left;
    flex: 33.33%;
    padding: 5px;
  }

  .row2 {
    text-align:left;
  }

  .column2 {
    float: right;
    flex: 33.33%;
    padding: 5px;
  }



