<div class="footer">
    <div class="row1">
        <div class="column1">
            <ul>
                <li href="#Galvenā">Galvenā</li>
                <li href="#contact">Par mani</li>
                <li href="#picture">Smieklīga bilde</li>
            </ul>
        </div>
    </div>
  </div>
  
  <div class="footer">
    <div class="row2">
        <div class="column2">
            <ul>
                <li href="#name">Vārds: Jānis Bērziņš</li>
                <li href="#email">e-pasts:</li>
                <li href="#phone">Tel.Nr. 24567654</li>
            </ul>
        </div>
    </div>
  </div>
