    <app-header></app-header>
    <nav>
        <a class = "button" 
        routerLink="/galvena"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Galvenā
        </a>
        <a class = "button" 
        routerLink="/contact" 
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Par mani
        </a>
        <a class = "button" 
        routerLink="/picture" 
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Smieklīga bilde
        </a>
    </nav>
    <app-main></app-main>
    <app-footer></app-footer>
<router-outlet></router-outlet>
