<div class="header">
    <a class = "button"
    routerLink="/addition"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Saskaitīšana
    </a>
    <a class = "button"
    routerLink="/substraction"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Atņemšana
    </a>
    <a class = "button"
    routerLink="/multiply"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Reizināšana
    </a>
    <a class = "button"
    routerLink="/divide"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Dalīšana
    </a>
    <a class = "button"
    routerLink="/StringList"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    StringList
    </a>
    </div>
