<div class="header">
    <a routerLink="/addition"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Saskaitīšana
    </a>
    <a routerLink="/substraction"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Atņemšana
    </a>
    <a routerLink="/multiply"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Reizināšana
    </a>
    <a routerLink="/divide"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Dalīšana
    </a>
    </div>
